<form [formGroup]="thirdFormGroup">
  <mat-radio-group formControlName="tipoEndereco">
    <mat-list>
      <mat-list-item>
        <mat-radio-button value="after">O mesmo</mat-radio-button>
      </mat-list-item>
      <div *ngIf="thirdFormGroup.value.tipoEndereco=='after'">
      </div>
      <mat-list-item>
        <mat-radio-button value="before">Novo endereço</mat-radio-button>
      </mat-list-item>
      <div *ngIf="thirdFormGroup.value.tipoEndereco=='before'">
        <ng-template matStepLabel>Entrega</ng-template>
          <mat-list-item>Endereço de Entrega</mat-list-item>
          <mat-list-item>
            <tco-input-text titulo="Descrição *" controlName="descricao" [formGroup]="thirdFormGroup" ></tco-input-text>
          </mat-list-item>
          <mat-list-item>
            <tco-input-text titulo="Tipo de Logradouro *" controlName="tipoLogradouro" [formGroup]="thirdFormGroup" style="margin-right: 40px;"></tco-input-text>
            <tco-input-text titulo="Logradouro *" controlName="logradouro" [formGroup]="thirdFormGroup" style="margin-right: 40px;"></tco-input-text>
            <tco-input-text titulo="Número *" controlName="numero" [formGroup]="thirdFormGroup" style="margin-right: 40px;"></tco-input-text>
          </mat-list-item>
          <mat-list-item>
            <tco-input-text titulo="Tipo de Residência *" controlName="tipoResidencia" [formGroup]="thirdFormGroup" style="margin-right: 40px;"></tco-input-text>
            <tco-input-text titulo="Complemento e/ou Observações " controlName="observacoes" [formGroup]="thirdFormGroup" style="margin-right: 40px;"></tco-input-text>
          </mat-list-item>  
          <mat-list-item>
            <tco-input-text titulo="Bairro *" controlName="bairro" [formGroup]="thirdFormGroup" style="margin-right: 40px;"></tco-input-text>
            <tco-input-text titulo="Cidade *" controlName="cidade" [formGroup]="thirdFormGroup" style="margin-right: 40px;"></tco-input-text>
            <tco-input-select titulo="Estado" controlName="estado" [formGroup]="thirdFormGroup" [opcoes]="estados" ></tco-input-select>
          </mat-list-item>
          <mat-list-item>
            <tco-input-text titulo="CEP *" controlName="cep" [formGroup]="thirdFormGroup" ></tco-input-text>
          </mat-list-item>
      </div>
      <mat-list-item>
        <p>Frete: 13,90</p>
      </mat-list-item>
    </mat-list>
  </mat-radio-group>
</form>