<mat-list>
  <mat-list-item style="font-weight: bold;">Cadastro</mat-list-item>
  <mat-list-item>
      <mat-label>Nome Completo: </mat-label>
      <mat-label style="margin-left: 10px;">João da Silva</mat-label>
  </mat-list-item>
  <mat-list-item>
    
      <mat-label>CPF: </mat-label>
      <mat-label style="margin-left: 10px;">123.456.789-10</mat-label>
    
  </mat-list-item>
  <mat-list-item>
    
      <mat-label>Data de nascimento: </mat-label>
      <mat-label style="margin-left: 10px;">01/01/2001</mat-label>
    
  </mat-list-item>
  <mat-list-item>
    
      <mat-label>Telefone: </mat-label>
      <mat-label style="margin-left: 10px;">(11)4321-1234</mat-label>
    
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
<mat-list>
  <mat-list-item style="font-weight: bold;">Endereço Residencial</mat-list-item>
  <mat-list-item>
    
      <mat-label>Logradouro: </mat-label>
      <mat-label style="margin-left: 10px;">Rua das Flores</mat-label>
    
  </mat-list-item>
  <mat-list-item>
    
      <mat-label>número: </mat-label>
      <mat-label style="margin-left: 10px;">123</mat-label>
    
      <mat-label style="margin-left: 10px;">complemento: </mat-label>
      <mat-label style="margin-left: 10px;">casa 2</mat-label>
    
  </mat-list-item>
  <mat-list-item>
    
      <mat-label>Bairro: </mat-label>
      <mat-label style="margin-left: 10px;">Cerejeira</mat-label>
    
      <mat-label style="margin-left: 10px;">Cidade: </mat-label>
      <mat-label style="margin-left: 10px;">Mogi das Cruzes</mat-label>
    
  </mat-list-item>
  <mat-list-item>
    
      <mat-label>Estado: </mat-label>
      <mat-label style="margin-left: 10px;">SP</mat-label>

      <mat-label style="margin-left: 10px;">CEP: </mat-label>
      <mat-label style="margin-left: 10px;">08900-000</mat-label>
    
  </mat-list-item>
</mat-list>
