.radio-button {
  margin: 5px;
  margin-bottom: 10px;
}
.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 100% !important;
}
.mat-list-item {
  margin: 15px;
}
