<form [formGroup]="fifthFormGroup">

  <h1 mat-dialog-title>Minha Conta</h1>
  <div mat-dialog-content style="width: 500px; height: 150px;">Por favor, faça seu login.
    <mat-list>
      <mat-list-item>
        <tco-input-text titulo="E-mail *" placeholder="seunome@dominio.com" controlName="email" [formGroup]="fifthFormGroup"></tco-input-text>
      </mat-list-item>
      <mat-list-item>
        <tco-input-text titulo="Senha *" tipo="password" controlName="senha" [formGroup]="fifthFormGroup"></tco-input-text>
      </mat-list-item>
    </mat-list>
  </div>
  <div mat-dialog-actions style="float: right;">
    <button mat-button mat-dialog-close (click)="abrirCadastro()">Cadastre-se aqui</button>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Sair</button>
    <button mat-button [mat-dialog-close]="true" (click)="abrirCliente()">Entrar</button>
  </div>
</form>