<form [formGroup]="fourthFormGroup">
  <mat-list>

    <div *ngFor="let i of quantidadeCartoesCredito">
      <mat-list-item>
        <tco-input-select titulo="Bandeira" controlName="bandeira" [formGroup]="fourthFormGroup" [opcoes]="bandeiras" style="margin-right: 40px;"></tco-input-select>
      </mat-list-item>
      <mat-list-item>
        <tco-input-text titulo="Número do Cartão" controlName="numero" [formGroup]="fourthFormGroup" style="margin-right: 40px;"></tco-input-text>
        <tco-input-text titulo="CVV" controlName="cvv" [formGroup]="fourthFormGroup" style="margin-right: 40px;">
        </tco-input-text>
      </mat-list-item>
      <mat-list-item>
        <tco-input-text titulo="Nome impresso no Cartão" controlName="nome" [formGroup]="fourthFormGroup"style="margin-right: 40px;"></tco-input-text>
        <tco-input-text titulo="Validade" controlName="validade" [formGroup]="fourthFormGroup" style="margin-right: 40px;"></tco-input-text>
      </mat-list-item>
      <mat-list-item>
        <tco-input-text titulo="Valor" controlName="valor" [formGroup]="fourthFormGroup"></tco-input-text>
      </mat-list-item>
    </div>
    <button mat-flat-button color="primary" style="color: white" (click)="adicionarCartaoCredito()" style="margin: 15px;">Pagar com mais um cartão</button>

  </mat-list>

</form>